{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
座位信息 - 清华紫荆之声
{% endblock %}

{% block css %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<link href="https://member.hipiao.com/res/css/buy.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        .selseatbgleftzi {width:300px;height:150px;overflow:auto;position: relative;color:black;}
        .selseatbgleftzi .af {position: absolute;cursor:pointer;background-color:gray;width:5px;height:5px;line-height:5px;margin:0;padding:0;text-align:center;border-style:solid;border-color:white;border-width: 1px;}
        .selseatbgleftzi .as {position: absolute;background-color:yellow;width:5px;height:5px;line-height:5px;margin:0;cursor:pointer;padding:0;text-align:center;border-style:solid;border-color:white;border-width: 1px;}
        .selseatbgleftzi .anum {position: absolute;color:#123456;width:5px;height:5px;line-height:5px;margin:0;padding:0;text-align:center;cursor:pointer;}
		body {text-align:center}
    </style>
{% endblock %}

{% block js %}
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/select.js" %}"></script>
	
	<script>
    function ajaxForm() {

			submitSelection('{{ act_id }}', '{{ ticket_row }}', '{{ ticket_id }}'); 
    }
    window.addEventListener('load', function() {showValidation({{ ticket_row }});}, false);

    </script>
{% endblock %}

{% block theme %}
    “{{ act_name }}”选座系统
{% endblock %}

{% block content %}
    <div style="display:none;" id = "idString">
	{{ seat }}
	</div>
	<div id = "seatStatus" style="display:none">{{seat_status}}</div>
    {% include 'activityphoto.html' %}
	<div class="details-wrapper img-wrapper">
	    <div class="img-inner">
	        <img class="details-img" src="{{ act_menu  }}" />
	    </div>
	</div>

   	<div class="container-fluid" id = "seatWrapper">
		<div class="row-fluid">
			<div class="span12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-center" class="panel-title" style="font-family:微软雅黑;font-weight:bold">座位图</h4>
					</div>
					<div class="panel-body"  >
						<div >
							<img style="display:none" id="seatImage" src="http://wx7.igeek.asia/static1/img/zongti.png" width="100%"/>
							<div id="seatMap" class="selseatbgleftzi">
								<div id="seatMapData" style="padding-left:100px;">
									<ul id="seatMapData_ul" style="list-style-type:none">
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-center" class="panel-title" style="font-family:微软雅黑;font-weight:bold">选择座位</h4>
					</div>
					<div id="validationHolder" class="panel-body">
						<form id="seatSelect" class="form-horizontal"  action="{% url "userpage.views.selection_view" %}" method="post" role="form"  onsubmit="return false;">
							{% csrf_token %}
							<div class="form-group">
								<div class="col-sm-2">
									<p>请选择区域</p>
									<select id="area" onchange="areaClick(this[selectedIndex].value);" name="area" required="required">
									  
									</select>
								</div>
							</div>
							<div class="form-group" id="seatRow">
								<div class="col-sm-2">
									<p>请选择排</p>
									<select id="row" onchange="rowClick(this[selectedIndex].value);" name="row" required="required">
									
									</select>	
								</div>
							</div>
							<div class="form-group" id="seatCol">
								<div class="col-sm-2">
									<p>请选择座号</p>
									<select id="col" name="col" onchange="colClick(this[selectedIndex].value);" required="required">
									
									</select>	
								</div>
							</div>
							<div class="form-group" id="submitGroup">
								<div class="col-sm-offset-1 col-sm-10">
									<button onclick="ajaxForm();" class="btn btn-primary" id="submitBtn">确认</button>
									<p class="help-block" id="helpLoading" style="display: none"><img src="{% static "img/loading.gif" %}">正在选座，请稍候...</p>
              						<p class="help-block" id="helpSubmit"></p>
								</div>
							</div>
						</form>
					</div>
					<div id="successHolder" style="display: none; text-align:center" >
				        <img src="{% static "img/success.png" %}" />
				        <p>选座成功！</p>
				        <p>您已经可以参加活动了！</p>
				    </div>
				</div>
			</div>
		</div>
	</div>
	
<script src="{%static "js/seat.js" %}"></script>
{% endblock %}