{% extends "activity_list.html" %}

{% block activity-title %}
{{ activity.name }}
{% endblock %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/activity_detail.css" %}"/>
    <link href="{% static "css/buy.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/basic.css" %}" type="text/css" rel="stylesheet">

    <style type="text/css">
        .selseatbgleftzi {width:1300px;height:500px;overflow:auto;position: relative;color:black;}
        .selseatbgleftzi .af {position: absolute;cursor:pointer;background-color:#95a5a6;width:15px;height:15px;line-height:15px;margin:0;padding:0;text-align:center;border-style:solid;border-color:white;border-width: 1px;}
        .selseatbgleftzi .as {position: absolute;background-color:#3498db;width:15px;height:15px;line-height:15px;margin:0;cursor:pointer;padding:0;text-align:center;border-style:solid;border-color:white;border-width: 1px;}
        .selseatbgleftzi .anum {position: absolute;color:#123456;width:15px;height:15px;line-height:15px;margin:0;padding:0;text-align:center;cursor:pointer;}
        .introaf {cursor:pointer;background-color:#95a5a6;width:15px;height:15px;line-height:15px;margin:0;padding:0;text-align:center;border-style:solid;border-color:white;border-width: 1px;}
        .introas {background-color:#3498db;width:15px;height:15px;line-height:15px;margin:0;cursor:pointer;padding:0;text-align:center;border-style:solid;border-color:white;border-width: 1px;}
    </style>
{% endblock %}

{% block js %}
    <script src="{% static "lib/jq/form/jquery.form.min.js" %}"></script>
    <script>
        var activity = {
            'name': '{{ activity.name }}'{% if activity.id %},
            'id': {{ activity.id }},
            'key': '{{ activity.key|escapejs }}',
            'description': '{{ activity.description|escapejs }}',
            'pic_url': '{{ activity.pic_url }}',
            'seat_status': {{ activity.seat_status }},
            'start_time': {
                'year': {{ activity.start_time.year }},
                'month': {{ activity.start_time.month }},
                'day': {{ activity.start_time.day }},
                'hour': {{ activity.start_time.hour }},
                'minute': {{ activity.start_time.minute }}
            },
            'end_time': {
                'year': {{ activity.end_time.year }},
                'month': {{ activity.end_time.month }},
                'day': {{ activity.end_time.day }},
                'hour': {{ activity.end_time.hour }},
                'minute': {{ activity.end_time.minute }}
            },
            'place': '{{ activity.place }}',
            'book_start': {
                'year': {{ activity.book_start.year }},
                'month': {{ activity.book_start.month }},
                'day': {{ activity.book_start.day }},
                'hour': {{ activity.book_start.hour }},
                'minute': {{ activity.book_start.minute }}
            },
            'book_end': {
                'year': {{ activity.book_end.year }},
                'month': {{ activity.book_end.month }},
                'day': {{ activity.book_end.day }},
                'hour': {{ activity.book_end.hour }},
                'minute': {{ activity.book_end.minute }}
            },
            'total_tickets': {{ activity.total_tickets }},
            'menu_url': {{ activity.menu_url }},
            'status': {{ activity.status }}{% else %},
            'status': 0{% endif %}{% if activity.tickets_ready %},
            'checked_tickets': {{ activity.checked_tickets }},
            'ordered_tickets': {{ activity.ordered_tickets }}{% endif %}
        }


    </script>
	<script>
    function clickSelect(){
        var x=document.getElementById("selectArea")
        if(x.selectedIndex == "0"){
            $("#seat-distribution-input").val("");
            $("#input-total_tickets").val(0);
            $("li").remove();
            $(".anum").remove();
            for(var i=1; i<=19; i++){
                var toppx = 15*(i-1);
                var txt1 = '<p class="anum" style="top:'+toppx+'px;left:20px;">'+i+'</p>'
                var txt2 = '<p class="anum" style="top:'+toppx+'px;left:725px;">'+i+'</p>'
                $("#seatMapData").append(txt1,txt2);
                if(i==1){
                    for(var j=1; j<=31; j++){
                        var toppx = 15*(i-1);
                        if(j<=5) var leftpx = 65+15*(j+3);
                        else if(j<=26) var leftpx = 65+15*(j+4);
                        else var leftpx = 65+15*(j+6);
                        var txt = '<li id="s1_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==18){
                    for(var j=1; j<=32; j++){
                        var toppx = 15*(i-1);
                        if(j<=5) var leftpx = 65+15*(j+3);
                        else if(j<=27) var leftpx = 65+15*(j+4);
                        else var leftpx = 65+15*(j+5);
                        var txt = '<li id="s1_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==2){
                    for(var j=1; j<=34; j++){
                        var toppx = 15*(i-1);
                        if(j<=6) var leftpx = 65+15*(j+2);
                        else if(j<=28) var leftpx = 65+15*(j+3);
                        else var leftpx = 65+15*(j+4);
                        var txt = '<li id="s1_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==17||i==3){
                    for(var j=1; j<=35; j++){
                        var toppx = 15*(i-1);
                        if(j<=7) var leftpx = 65+15*(j+1);
                        else if(j<=28) var leftpx = 65+15*(j+2);
                        else var leftpx = 65+15*(j+4);
                        var txt = '<li id="s1_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==16||i==4){
                    for(var j=1; j<=38; j++){
                        var toppx = 15*(i-1);
                        if(j<=8) var leftpx = 65+15*(j);
                        else if(j<=30) var leftpx = 65+15*(j+1);
                        else var leftpx = 65+15*(j+2);
                        var txt = '<li id="s1_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==5||i==7||i==9||i==11||i==13||i==15){
                    for(var j=1; j<=39; j++){
                        var toppx = 15*(i-1);
                        if(j<=9) var leftpx = 65+15*(j-1);
                        else if(j<=30) var leftpx = 65+15*(j);
                        else var leftpx = 65+15*(j+2);
                        var txt = '<li id="s1_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==19){
                    for(var j=1; j<=21; j++){
                        var toppx = 15*(i-1);
                        var leftpx = 65+15*(j+9);
                        var txt = '<li id="s1_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else{
                    for(var j=1; j<=40; j++){
                        var toppx = 15*(i-1);
                        if(j<=9) var leftpx = 65+15*(j-1);
                        else if(j<=31) var leftpx = 65+15*(j);
                        else var leftpx = 65+15*(j+1);
                        var txt = '<li id="s1_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
            }
        }
        else if(x.selectedIndex == "1"){
            $("#seat-distribution-input").val("");
            $("#input-total_tickets").val(0);
            $("li").remove();
            $(".anum").remove();
            for(var i=1; i<=22; i++){
                if(i<=16){
                    var toppx = 15*(i-1);
                }
                else{
                    var toppx = 15*(i);
                }
                var txt1 = '<p class="anum" style="top:'+toppx+'px;left:20px;">'+i+'</p>'
                var txt2 = '<p class="anum" style="top:'+toppx+'px;left:1025px;">'+i+'</p>'
                $("#seatMapData").append(txt1,txt2);
                if(i==1){
                    var txt1 = '<li id="s2_1_1" title="1排1号" class="af" style="top:0px;left:125px;">1</li>'
                    var txt2 = '<li id="s2_1_2" title="1排2号" class="af" style="top:0px;left:920px;">2</li>'
                    $("#seatMapData_ul").append(txt1,txt2);
                }
                else if(i==2){
                    var txt1 = '<li id="s2_2_2" title="2排2号" class="af" style="top:15px;left:125px;">2</li>'
                    var txt2 = '<li id="s2_2_3" title="2排3号" class="af" style="top:15px;left:920px;">3</li>'
                    var txt3 = '<li id="s2_2_1" title="2排1号" class="af" style="top:15px;left:110px;">1</li>'
                    var txt4 = '<li id="s2_2_4" title="2排4号" class="af" style="top:15px;left:935px;">4</li>'
                    $("#seatMapData_ul").append(txt1,txt2,txt3,txt4);
                }
                else if(i==17||i==20){
                    for(var j=1; j<=50; j++){
                        var toppx = 15*(i);
                        if(j<=14) var leftpx = 65+15*(j+4);
                        else if(j<=36) var leftpx = 65+15*(j+5);
                        else var leftpx = 65+15*(j+6);
                        var txt = '<li id="s2_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==18){
                    for(var j=1; j<=56; j++){
                        var toppx = 15*(i);
                        if(j<=17) var leftpx = 65+15*(j+1);
                        else if(j<=39) var leftpx = 65+15*(j+2);
                        else var leftpx = 65+15*(j+3);
                        var txt = '<li id="s2_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==19){
                    for(var j=1; j<=60; j++){
                        var toppx = 15*(i);
                        if(j<=19) var leftpx = 65+15*(j-1);
                        else if(j<=41) var leftpx = 65+15*(j);
                        else var leftpx = 65+15*(j+1);
                        var txt = '<li id="s2_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==21){
                    for(var j=1; j<=42; j++){
                        var toppx = 15*(i);
                        if(j<=10) var leftpx = 65+15*(j+8);
                        else if(j<=32) var leftpx = 65+15*(j+9);
                        else var leftpx = 65+15*(j+10);
                        var txt = '<li id="s2_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==22){
                    for(var j=1; j<=26; j++){
                        var toppx = 15*(i);
                        if(j<=4) var leftpx = 65+15*(j+14);
                        else if(j<=22) var leftpx = 65+15*(j+17);
                        else var leftpx = 65+15*(j+20);
                        var txt = '<li id="s2_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else{
                    for(var j=1; j<=6; j++){
                        var toppx = 15*(i-1);
                        if(j<=3) var leftpx = 65+15*(j+1);
                        else var leftpx = 65+15*(j+53);
                        var txt = '<li id="s2_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
            }
        }
        else if(x.selectedIndex == "2"){
            $("#seat-distribution-input").val("");
            $("#input-total_tickets").val(0);
            $("li").remove();
            $(".anum").remove();
            for(var i=1; i<=23; i++){
                var toppx = 15*(i-1);
                var txt1 = '<p class="anum" style="top:'+toppx+'px;left:20px;">'+i+'</p>'
                var txt2 = '<p class="anum" style="top:'+toppx+'px;left:1145px;">'+i+'</p>'
                $("#seatMapData").append(txt1,txt2);
                if(i==1){
                    var txt1 = '<li id="s3_1_1" title="1排1号" class="af" style="top:0px;left:95px;">1</li>'
                    var txt2 = '<li id="s3_1_2" title="1排2号" class="af" style="top:0px;left:1070px;">2</li>'
                    $("#seatMapData_ul").append(txt1,txt2);
                }
                else if(i==2){
                    var txt1 = '<li id="s3_2_2" title="2排2号" class="af" style="top:15px;left:95px;">2</li>'
                    var txt2 = '<li id="s3_2_3" title="2排3号" class="af" style="top:15px;left:1070px;">3</li>'
                    var txt3 = '<li id="s3_2_1" title="2排1号" class="af" style="top:15px;left:80px;">1</li>'
                    var txt4 = '<li id="s3_2_4" title="2排4号" class="af" style="top:15px;left:1085px;">4</li>'
                    $("#seatMapData_ul").append(txt1,txt2,txt3,txt4);
                }
                else if(i==16){
                    for(var j=1; j<=58; j++){
                        var toppx = 15*(i-1);
                        if(j<=3) var leftpx = 65+15*(j-1);
                        else if(j<=19) var leftpx = 65+15*(j+4);
                        else if(j<=39) var leftpx = 65+15*(j+5);
                        else if(j<=55) var leftpx = 65+15*(j+6);
                        else var leftpx = 65+15*(j+11);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==17){
                    for(var j=1; j<=56; j++){
                        var toppx = 15*(i-1);
                        if(j<=18) var leftpx = 65+15*(j+5);
                        else if(j<=38) var leftpx = 65+15*(j+6);
                        else var leftpx = 65+15*(j+7);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==18){
                    for(var j=1; j<=58; j++){
                        var toppx = 15*(i-1);
                        if(j<=19) var leftpx = 65+15*(j+4);
                        else if(j<=39) var leftpx = 65+15*(j+5);
                        else var leftpx = 65+15*(j+6);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==19){
                    for(var j=1; j<=54; j++){
                        var toppx = 15*(i-1);
                        if(j<=17) var leftpx = 65+15*(j+6);
                        else if(j<=37) var leftpx = 65+15*(j+7);
                        else var leftpx = 65+15*(j+8);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==20){
                    for(var j=1; j<=44; j++){
                        var toppx = 15*(i-1);
                        if(j<=12) var leftpx = 65+15*(j+11);
                        else if(j<=32) var leftpx = 65+15*(j+12);
                        else var leftpx = 65+15*(j+13);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==21){
                    for(var j=1; j<=36; j++){
                        var toppx = 15*(i-1);
                        if(j<=8) var leftpx = 65+15*(j+15);
                        else if(j<=28) var leftpx = 65+15*(j+16);
                        else var leftpx = 65+15*(j+17);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==22){
                    for(var j=1; j<=28; j++){
                        var toppx = 15*(i-1);
                        if(j<=4) var leftpx = 65+15*(j+19);
                        else if(j<=24) var leftpx = 65+15*(j+20);
                        else var leftpx = 65+15*(j+21);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==23){
                    for(var j=1; j<=12; j++){
                        var toppx = 15*(i-1);
                        var leftpx = 65+15*(j+28);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else{
                    for(var j=1; j<=6; j++){
                        var toppx = 15*(i-1);
                        if(j<=3) var leftpx = 65+15*(j-1);
                        else var leftpx = 65+15*(j+63);
                        var txt = '<li id="s3_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
            }
        }
        else{
            $("#seat-distribution-input").val("");
            $("#input-total_tickets").val(0);
            $("li").remove();
            $(".anum").remove();
            for(var i=1; i<=22; i++){
                var toppx = 15*(i-1);
                var txt1 = '<p class="anum" style="top:'+toppx+'px;left:20px;">'+i+'</p>'
                var txt2 = '<p class="anum" style="top:'+toppx+'px;left:1115px;">'+i+'</p>'
                $("#seatMapData").append(txt1,txt2);
                if(i>=1 && i<=3){
                    var toppx = 15*(i-1);
                    var leftpx1 = 65+15*2;
                    var leftpx2 = 65+15*65;
                    var txt1 = '<li id="s4_'+i+'_1" title="'+i+'排1号" class="af" style="top:'+toppx+'px;left:'+leftpx1+'px;">1</li>'
                    var txt2 = '<li id="s4_'+i+'_2" title="'+i+'排2号" class="af" style="top:'+toppx+'px;left:'+leftpx2+'px;">2</li>'
                    $("#seatMapData_ul").append(txt1,txt2);
                }
                else if(i>=4 && i<=6){
                    var toppx = 15*(i-1);
                    var leftpx1 = 65+15*2;
                    var leftpx2 = 65+15*65;
                    var leftpx3 = 65;
                    var leftpx4 = 65+15*67;
                    var txt1 = '<li id="s4_'+i+'_2" title="'+i+'排2号" class="af" style="top:'+toppx+'px;left:'+leftpx1+'px;">2</li>'
                    var txt2 = '<li id="s4_'+i+'_3" title="'+i+'排3号" class="af" style="top:'+toppx+'px;left:'+leftpx2+'px;">3</li>'
                    var txt3 = '<li id="s4_'+i+'_1" title="'+i+'排1号" class="af" style="top:'+toppx+'px;left:'+leftpx3+'px;">1</li>'
                    var txt4 = '<li id="s4_'+i+'_4" title="'+i+'排4号" class="af" style="top:'+toppx+'px;left:'+leftpx4+'px;">4</li>'
                    $("#seatMapData_ul").append(txt1,txt2,txt3,txt4);
                }
                else if(i==16){
                    for(var j=1; j<=52; j++){
                        var toppx = 15*(i-1);
                        if(j<=3) var leftpx = 65+15*(j-1);
                        else if(j<=16) var leftpx = 65+15*(j+6);
                        else if(j<=36) var leftpx = 65+15*(j+7);
                        else if(j<=49) var leftpx = 65+15*(j+8);
                        else var leftpx = 65+15*(j+15);
                        var txt = '<li id="s4_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==17){
                    for(var j=1; j<=50; j++){
                        var toppx = 15*(i-1);
                        if(j<=15) var leftpx = 65+15*(j+7);
                        else if(j<=35) var leftpx = 65+15*(j+8);
                        else var leftpx = 65+15*(j+9);
                        var txt = '<li id="s4_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==18||i==19){
                    for(var j=1; j<=54; j++){
                        var toppx = 15*(i-1);
                        if(j<=17) var leftpx = 65+15*(j+5);
                        else if(j<=37) var leftpx = 65+15*(j+6);
                        else var leftpx = 65+15*(j+7);
                        var txt = '<li id="s4_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==20){
                    for(var j=1; j<=42; j++){
                        var toppx = 15*(i-1);
                        if(j<=11) var leftpx = 65+15*(j+11);
                        else if(j<=31) var leftpx = 65+15*(j+12);
                        else var leftpx = 65+15*(j+13);
                        var txt = '<li id="s4_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==21){
                    for(var j=1; j<=36; j++){
                        var toppx = 15*(i-1);
                        if(j<=8) var leftpx = 65+15*(j+14);
                        else if(j<=28) var leftpx = 65+15*(j+15);
                        else var leftpx = 65+15*(j+16);
                        var txt = '<li id="s4_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else if(i==22){
                    for(var j=1; j<=28; j++){
                        var toppx = 15*(i-1);
                        if(j<=4) var leftpx = 65+15*(j+18);
                        else if(j<=24) var leftpx = 65+15*(j+19);
                        else var leftpx = 65+15*(j+20);
                        var txt = '<li id="s4_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
                else{
                    for(var j=1; j<=6; j++){
                        var toppx = 15*(i-1);
                        if(j<=3) var leftpx = 65+15*(j-1);
                        else var leftpx = 65+15*(j+61);
                        var txt = '<li id="s4_'+i+'_'+j+'" title="'+i+'排'+j+'号" class="af" style="top:'+toppx+'px;left:'+leftpx+'px;">'+j+'</li>'
                        $("#seatMapData_ul").append(txt);
                    }
                }
            }
        }
        $("li").click(function(){
            var id = $(this).attr("id");
            if($(this).attr("class")=="af"){
                document.getElementById(id).className="as";
                $("#seat-distribution-input").val($("#seat-distribution-input").val()+id);
            }
            else{
                document.getElementById(id).className="af";
                $("#seat-distribution-input").val($("#seat-distribution-input").val().replace(id,""));
            }
            var as = $(".as");                        
            $("#input-total_tickets").val(as.length);
        });
        $(".anum").click(function(){
            var row = this.innerHTML;
            var seats = document.getElementById("seatMapData").children[0].children;
            for(var i = 0; i < seats.length; i++){
                if(seats[i].id.match("_"+row+"_") != null){
                    seats[i].click();
                }
            }
        });
    }
    </script>
    <script src="{% static "js/activity_detail.js" %}"></script>
{% endblock %}

{% block activity-list-active %}{% endblock %}

//gai
{% block nav-li-ext %}
    <li class="{% block activity-detail-active %}active{% endblock %}">
        <a href="{% if activity.id %}
        {% url "adminpage.views.activity_detail" actid=activity.id %}
        {% else %}
        {% url "adminpage.views.activity_add" %}
        {% endif %} ">{{ activity.name }}</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container" id="detail-noscript">
        <noscript>请开启JavaScript后重试。</noscript>
    </div>
    <div class="container" id="detail-form" style="display: none;">
        <form class="form-horizontal" role="form" method="post" action="{% url "adminpage.views.activity_post" %}" id="activity-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="input-name" class="col-sm-2 control-label" id="label-input-name">活动名称</label>
                <div class="col-sm-10">
                    <input type="text" maxlength="26" name="name" class="form-control" id="input-name" placeholder="活动名称，如 马兰花开" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="input-key" class="col-sm-2 control-label">活动代称</label>
                <div class="col-sm-10">
                    <input type="text" maxlength="12" name="key" class="form-control" id="input-key" placeholder="用户用于订票的活动代称，推荐使用中文(少于7个字)，如 马兰花开">
                </div>
            </div>

            <div class="form-group">
                <label for="input-place" class="col-sm-2 control-label">活动地点</label>
                <div class="col-sm-10">
                    <input type="text" name="place" class="form-control" id="input-place" placeholder="活动地点，如 大礼堂">
                </div>
            </div>

            <div class="form-group">
                <label for="input-description" class="col-sm-2 control-label">活动简介</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" rows="3" id="input-description" placeholder="描述，如 好看的舞台剧" row="3" style="resize: none;"></textarea>
                </div>
            </div>


            <div class="form-group">
                <label for="input-pic_url" class="col-sm-2 control-label" min="0">活动配图</label>
                <div class="col-sm-10">
                    <input type="url" name="pic_url" class="form-control" id="input-pic_url" min="0" placeholder="请填入图片链接">
                </div>
            </div>

            <div class="form-group">
                <label for="input-start-year" class="col-sm-2 control-label">活动开始</label>
                <div class="form-inline col-sm-10" id="input-start_time">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-start-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-start-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-start-minute">分</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="input-end-year" class="col-sm-2 control-label">活动结束</label>
                <div class="form-inline col-sm-10" id="input-end_time">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-end-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-end-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-end-minute">分</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="input-total_tickets" class="col-sm-2 control-label">总票数</label>
                <div class="col-sm-10">
                    <input type="number" name="total_tickets" class="form-control" id="input-total_tickets" min="1"  placeholder="此次活动通过“紫荆之声”的发票总数，如 1000" onchange="setInputNum()">
                </div>
            </div>
			<script>
            function setInputNum()
            {
                var x=document.getElementById("input-seat_status")
                if(x.selectedIndex == "1"){
					var as = $(".as");                        
                    $("#input-total_tickets").val(as.length);
                }
                else if(x.selectedIndex == "2"){
                    $("#input-total_tickets").val(parseInt($("#a").val())+parseInt($("#b").val())+parseInt($("#c").val())+parseInt($("#d").val())+parseInt($("#e").val()));
                }
                else{

                }
            }
            </script>
            <div class="form-group">
                <label for="input-book-start-year" class="col-sm-2 control-label">订票开始</label>
                <div class="form-inline col-sm-10" id="input-book_start">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-book-start-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-start-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-start-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-start-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-start-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-start-minute">分</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="input-book-end-year" class="col-sm-2 control-label">订票结束</label>
                <div class="form-inline col-sm-10" id="input-book_end">
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="4" type="number" id="input-book-end-year" value=""
                               date-part="year" placeholder="年，>=2013" min="2013" max="2100" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-year">年</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-end-month" value="" date-part="month"
                               placeholder="月，1-12" min="1" max="12" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-month">月</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-end-day" value="" date-part="day"
                               placeholder="日，1-31" min="1" max="31" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-day">日</label>
                    </div>
                    <div class="form-group date-offset">
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-end-hour" value="" date-part="hour"
                               placeholder="小时，0-23" min="0" max="23" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-hour">时</label>
                    </div>
                    <div class="form-group date-input">
                        <input class="form-control" maxlength="2" type="number" id="input-book-end-minute" value="" date-part="minute"
                               placeholder="分钟，0-59"min="0" max="59" step="1">
                    </div>
                    <div class="form-group date-label">
                        <label class="control-label" for="input-book-end-minute">分</label>
                    </div>
                </div>
            </div>

            <div class="form-group" id="progress-tickets">
                <label class="col-sm-2 control-label">订票与入场情况</label>
                <div class="col-sm-10">
                    <div class="progress progress-in-form">
                      <div class="progress-bar progress-bar-success" id="tickets-checked" style="width: 0%">
                      </div>
                      <div class="progress-bar progress-bar-warning" id="tickets-ordered" style="width: 0%">
                      </div>
                      <div class="progress-bar progress-bar-danger" id="tickets-remain" style="width: 0%">
                      </div>
                    </div>
                </div>
            </div>

           <div class="form-group">
                <label for="input-menu_url" class="col-sm-2 control-label" min="0">活动节目单</label>
                <div class="col-sm-10">
                    <input type="url" name="menu_url" class="form-control" id="input-menu_url" min="0" placeholder="请填入节目单链接">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">座位分配设置</label>
                <div class="col-sm-10">
                    <select name="seat_status" id="input-seat_status" class="form-control" onclick="getSeatDistribution()" required >
                        <option value="0">不分配座位</option>
                        <option value="1">分配座位(新清华学堂)</option>
                        <option value="2">分配区域(综体)</option>
                    </select>
                </div>
            </div>
            <script>
            function getSeatDistribution()
            {
                var x=document.getElementById("input-seat_status")
                if(x.selectedIndex == "1"){
                    document.getElementById("seat-distribution").setAttribute('style', 'display:block');
                    document.getElementById("seat-distribution2").setAttribute('style', 'display:none');
					$("#input-total_tickets").val(0);
					$("#seat-distribution-input").val("");
                    $("#a").val("");
                    $("#b").val("");
                    $("#c").val("");
                    $("#d").val("");
                    $("#e").val("");
                    while(document.getElementsByClassName("as").length){
                        document.getElementsByClassName("as")[0].className="af";
                    }
                }
                else if(x.selectedIndex == "2"){
                    document.getElementById("seat-distribution2").setAttribute('style', 'display:block');
                    document.getElementById("seat-distribution").setAttribute('style', 'display:none');
                    $("#input-total_tickets").val(0);
                    $("#seat-distribution-input").val("");
                    $("#a").val("");
                    $("#b").val("");
                    $("#c").val("");
                    $("#d").val("");
                    $("#e").val("");
                    while(document.getElementsByClassName("as").length){
                        document.getElementsByClassName("as")[0].className="af";
                    }
                }
                else{
                    document.getElementById("seat-distribution").setAttribute('style', 'display:none'); 
                    document.getElementById("seat-distribution2").setAttribute('style', 'display:none');
					$("#seat-distribution-input").val("");
                    $("#a").val("");
                    $("#b").val("");
                    $("#c").val("");
                    $("#d").val("");
                    $("#e").val("");
                    while(document.getElementsByClassName("as").length){
                        document.getElementsByClassName("as")[0].className="af";
                    }
                }
            }
            </script>
			
            <div class="form-group" id="seat-distribution2" style="display: none;">
                <div class="row">
                    <label class="col-sm-2 control-label">座位具体分配</label>
                    <div class="col-sm-6">
                        <img alt="140x140" src="{% static "img/zongti.png" %}" class="img-rounded" width="100%" height="100%"/>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group" style="visibility:hidden">
                            <span class="input-group-addon">A区可选座位：400</span>
                            <input  type="number" min="0" max="400" class="form-control" >
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">A区可选座位：400</span>
                            <input id="a" type="number" min="0" max="400" class="form-control" placeholder="请输入A区分配座位数" onblur="checkSeatNum(this)">
                        </div>
                        <div id="warningMessagea" class="alert alert-danger" style="display:none;">分配座位数大于可选座位数！</div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">B区可选座位：400</span>
                            <input id="b" type="number" min="0" max="400" class="form-control" placeholder="请输入B区分配座位数" onblur="checkSeatNum(this)">
                        </div>
                        <div id="warningMessageb" class="alert alert-danger" style="display:none;">分配座位数大于可选座位数！</div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">C区可选座位：400</span>
                            <input id="c" type="number" min="0" max="400" class="form-control" placeholder="请输入C区分配座位数" onblur="checkSeatNum(this)">
                        </div>
                        <div id="warningMessagec" class="alert alert-danger" style="display:none;">分配座位数大于可选座位数！</div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">D区可选座位：400</span>
                            <input id="d" type="number" min="0" max="400" class="form-control" placeholder="请输入D区分配座位数" onblur="checkSeatNum(this)">
                        </div>
                        <div id="warningMessaged" class="alert alert-danger" style="display:none;">分配座位数大于可选座位数！</div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">E区可选座位：400</span>
                            <input id="e" type="number" min="0" max="400" class="form-control" placeholder="请输入E区分配座位数" onblur="checkSeatNum(this)">
                        </div>
                        <div id="warningMessagee" class="alert alert-danger" style="display:none;">分配座位数大于可选座位数！</div>
                        <br>
                        <div id="warningMessagef" class="alert alert-danger" style="display:none;">分配座位数大于可选座位数！</div>
                        <br>
                        <button type="button" class="btn btn-primary" data-toggle="button" onclick="confirmMessage()">确定</button>
                        <div id="successMessage" class="alert alert-success" style="display:none;">座位信息已保存</div>
                        <div id="warningMessage" class="alert alert-danger" style="display:none;">座位信息有误！</div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            function checkSeatNum(a)
            {
                document.getElementById("warningMessage"+a.id).setAttribute('style', 'display:none');
                if(parseInt(a.value)>400){
                    a.value = "";
                    document.getElementById("warningMessage"+a.id).setAttribute('style', 'display:block');
                }
            }
            function confirmMessage()
            {
                if($("#a").val()!="" && $("#b").val()!="" && $("#c").val()!="" && $("#d").val()!="" && $("#e").val()!=""){
                    document.getElementById("warningMessage").setAttribute('style', 'display:none'); 
                    $("#seat-distribution-input").val("sA_"+$("#a").val()+"sB_"+$("#b").val()+"sC_"+$("#c").val()+"sD_"+$("#d").val()+"sE_"+$("#e").val());
                    $("#input-total_tickets").val(parseInt($("#a").val())+parseInt($("#b").val())+parseInt($("#c").val())+parseInt($("#d").val())+parseInt($("#e").val()));
                    document.getElementById("successMessage").setAttribute('style', 'display:block'); 
                }
                else{
                    document.getElementById("successMessage").setAttribute('style', 'display:none'); 
                    document.getElementById("warningMessage").setAttribute('style', 'display:block'); 
                }
            }
            </script>

			<div class="form-group" id="seat-distribution" style="display: none;">
                <input type="text" name="seat-distribution-input" class="form-control" id="seat-distribution-input" style="display:none;">
                <label class="col-sm-2 control-label">座位具体分配</label>
                <div class="col-sm-4" >
                    <select id="selectArea" class="form-control" onclick="clickSelect()">
                        <option value ="0">池座</option>
                        <option value ="1">一层</option>
                        <option value ="2">二层</option>
                        <option value ="3">三层</option>
                    </select>
                </div>
                <div class="col-sm-4" ></div>
                <div class="col-sm-2" >
                    <dl>
                        <dt>未选座位：</dt>
                            <div class="introaf"></div>
                        <dt>已选座位：</dt>
                            <div class="introas"></div>
                    </dl>
                </div>
                        
                
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10" style="text-align:center;">
                    
                    <div id="seatMap" class="selseatbgleftzi">
                        <div id="seatMapData" style="padding-left:100px;">
                            <ul id="seatMapData_ul" style="list-style-type:none">
                            </ul> 
                        </div>
                    </div>
                </div>
                
            </div>
			
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="publishActivity();" class="btn btn-primary" id="publishBtn">发布</button>
                    <button type="submit" class="btn btn-default" id="saveBtn">暂存</button>
                    <button type="reset" class="btn btn-warning" id="resetBtn">重置</button>
                </div>
            </div>

        </form>
    </div>

    <div class="container" id="detail-processing" style="display: none;">
        <img src="{% static "img/loading.gif" %}">
        正在执行，请稍候……
    </div>

    <div class="container" id="detail-result" style="display: none;">
        <h1>处理结果</h1>
        <pre id="resultHolder"></pre>
        <div class="col-sm-offset-2">
            <button class="btn btn-info" id="continueBtn">继续修改</button>
            <a class="btn btn-success" href="{% url "adminpage.views.activity_list" %}">返回列表</a>
        </div>
    </div>

{% endblock %}
